# Ignora le directory di inizializzazione ovunque si trovino
**/.terraform/

# Ignora i file di stato (sicurezza extra, anche se usi GCS)
*.tfstate
*.tfstate.*
crash.log

# Ignora i file ZIP generati dalle Cloud Function prima dell'upload
**/*.zip

# Ignora file di sistema operativo
.DS_Store
Thumbs.db

#Ignora le impostazioni di autofetch
.vscode/

#Ignora le chiavi del service per i test locali
**/modules/compute_functions/src/*key*.json